<?xml version="1.0" encoding="UTF-8"?>
<Package>
  <types>
    <folder>applications</folder>
    <extension>app</extension>
    <name>CustomApplication</name>
  </types>
  <types>
    <folder>appMenus</folder>
    <extension>appMenu</extension>
    <name>AppMenu</name>
  </types>
  <types>
    <folder>classes</folder>
    <extension>cls</extension>
    <name>ApexClass</name>
  </types>
  <types>
    <folder>approvalProcesses</folder>
    <extension>approvalProcess</extension>
    <name>ApprovalProcess</name>
  </types>  
  <types>
    <folder>assignmentRules</folder>
    <extension>assignmentRule</extension>
    <name>AssignmentRule</name>
  </types>  
  <types>
    <folder>autoResponseRules</folder>
    <extension>autoResponseRule</extension>
    <name>AutoResponseRules</name>
  </types>  
  <types>
    <folder>communities</folder>
    <extension>community</extension>
    <name>Community</name>
  </types>  
  <types>
    <folder>dashboards</folder>
    <extension>dashboard</extension>
    <name>Dashboard</name>
  </types>
    <types>
    <folder>documents</folder>
    <extension></extension>
    <name>Document</name>
  </types>
  <types>
    <folder>email</folder>
    <extension>email</extension>
    <name>EmailTemplate</name>
  </types>
  <types>
    <folder>escalationRules</folder>
    <extension>escalationRules</extension>
    <name>EscalationRule</name>
  </types>
  <types>
    <folder>flows</folder>
    <extension>flow</extension>
    <name>Flow</name>
  </types>
  <types>
    <folder>reports</folder>
    <extension>report</extension>
    <name>Report</name>
  </types>
  <types>
    <folder>components</folder>
    <extension>component</extension>
    <name>ApexComponent</name>
  </types>
  <types>
    <folder>pages</folder>
    <extension>page</extension>
    <name>ApexPage</name>
  </types>
  <types>
    <folder>triggers</folder>
    <extension>trigger</extension>
    <name>ApexTrigger</name>
  </types>
  <types>
    <folder>connectedapps</folder>
    <extension>app</extension>
    <name>ConnectedApp</name>
  </types>
  <types>
    <folder>labels</folder>
    <extension>label</extension>
    <name>CustomLabels</name>
  </types>
  <types>
    <folder>objects</folder>
    <extension>object</extension>
    <name>CustomObject</name>
  </types>
  <types>
    <folder>objectTranslations</folder>
    <extension>objectTranslation</extension>
    <name>CustomObjectTranslation</name>
  </types>
  <types>
    <folder>flexipages</folder>
    <extension>flexipage</extension>
    <name>FlexiPage</name>
  </types>
  <types>
    <folder>tabs</folder>
    <extension>tab</extension>
    <name>CustomTab</name>
  </types>
  <types>
    <folder>homePageLayouts</folder>
    <extension>homePageLayout</extension>
    <name>HomePageLayout</name>
  </types>
  <types>
    <folder>layouts</folder>
    <extension>layout</extension>
    <name>Layout</name>
  </types>
  <types>
    <folder>permissionsets</folder>
    <extension>permissionset</extension>
    <name>PermissionSet</name>
  </types>
  <types>
    <folder>profiles</folder>
    <extension>profile</extension>
    <name>Profile</name>
  </types>
  <types>
    <folder>queues</folder>
    <extension>queue</extension>
    <name>Queue</name>
  </types>
  <types>
    <folder>quickActions</folder>
    <extension>quickAction</extension>
    <name>QuickAction</name>
  </types>
  <types>
    <folder>reportTypes</folder>
    <extension>reportType</extension>
    <name>ReportType</name>
  </types>
  <types>
    <folder>roles</folder>
    <extension>role</extension>
    <name>Role</name>
  </types>
  <types>
    <folder>settings</folder>
    <extension>settings</extension>
    <name>Settings</name>
  </types>
  <types>
    <folder>workflows</folder>
    <extension>workflow</extension>
    <name>Workflow</name>
  </types>
</Package>
